body {
  padding: 0;
  margin: 0;
}

dialog::backdrop {
  background: black;
  opacity: 0.4;
}

img {
  transition: transform 1.5s;
  width: 100vw;
}

.commitee {
  text-align: left;
  width: 85vw;
  height: 0;
  overflow-y: hidden;
  transition: height 1s;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 20px;
}

.commitee h3 {
  text-align: left;
  text-decoration: underline;
  grid-column: 1/-1;
}

@media only screen and (max-width: 1600px) {
  .commitee { 
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (max-width: 1200px) {
  .commitee {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 800px) {
  .commitee {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 400px) {
  .commitee {
    grid-template-columns: repeat(1, 1fr);
  }
}

.commitee-dropped {
  height: auto;
}

.fade-in-left,
.fade-in-right,
.fade-in,
.flip-up,
.flip-down {
  opacity: 0;
  transition:
    transform 1.5s,
    opacity 1.5s;
}

.fade-in-left {
  transform: translateX(-100%);
}

.fade-in-right {
  transform: translateX(100%);
}

.flip-down {
  transform: rotateX(90deg);
}

.flip-up {
  transform: rotateX(90deg);
}

.anim {
  opacity: 1;
  transform: none;
}

@media (prefers-reduced-motion) {
  .fade-in-left,
  .fade-in-right,
  .fade-in,
  .flip-up,
  .flip-down {
    opacity: 1;
    transform: none;
  }
}
